.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    min-width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 30px 7px antiquewhite;
    border-radius: 2%;
}

.logout {
    position: absolute;
    left: 50px;
    font-weight: 500;
    padding: 0;
    border: none;
    text-transform: lowercase;
}

.textH2 {
    text-align: center;
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.imageBlock {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.inputContainer {
    width: 95%;
}

.inputBlock {
    width: 100%;
    margin-top: 20px;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomBtns{
    padding-left: 20px;
}