.btnsDelete {
    height: 30px;
    width: 150px;
}

.btnsEdit {
    height: 30px;
    width: 150px;
}

.btnsLern {
    height: 30px;
    width: 150px;
}

.btnsAdd {
    height: 30px;
    width: 115px;
    margin: 10px;
    padding: 15px;
    bottom: 10px;
    border-radius: 15px;
}

.cursor {
    cursor: pointer;
}
.cursor:hover {
    color: #dc4f4f;
    /*background-color: rgb(184 245 213 / 54%);*/
}