.BgcStyle {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.olStyle{
    position: absolute;
    top: 0;
}
.olStyle li{
    display: inline;
    margin: 5px;
}
.changeTheme{
    position: absolute;
    top: 20px;
    left: 20px;
}