.btnsDelete {
    height: 30px;
    width: 150px;
}

.btnsEdit {
    height: 30px;
    width: 150px;
}

.btnsAdd {
    height: 30px;
    width: 150px;
}

.btnsBack {
    width: 65px;
}

.mainContainer {
    margin: 30px auto;
    min-width: 80%;
    max-height: 80%;
}

.container {
    /*height: 700px;*/
    border: 1px solid #fff;
    border-radius: 5px;
    max-height: 50%;
    overflow: auto;
}

.search {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    cursor: pointer;
}
.cursor:hover {
    color: #dc4f4f;
}

.input {
    width: 100%;
}