.MainPage {
    background-color: aliceblue;
    height: 90vh;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    min-width: 85%;
    max-width: 85%;

}

.sideBar {
    width: 20%;
    background-color: rgb(184 245 213 / 54%);
    padding: 23px;

}

.packList {
    width: 80%;
    position: relative;

}
.allPacks{
    padding: 10px;
    overflow: auto;
    height: calc(100vh - 235px);
}

.packListHeader {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: larger;
}

.searchAndAdd {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectorBtns {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.selectorBtns button{
    height: 40px;
    width: 90px;
}