.MainPage {
    background-color: aliceblue;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    min-width: 85%;
    max-width: 85%;
}

.sideBar {
    width: 20%;
    background-color: rgb(184 245 213 / 54%);
    padding: 23px;
    border: 1px solid #fff;
}

.packList {
    width: 80%;
    position: relative;
    border: 1px solid #fff;
}

.allPacks {
    min-height: 500px;
    max-height: 500px;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    border: 1px solid #fff;
}

.packListHeader {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: larger;
}

.searchAndAdd {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectorBtns {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.selectorBtns button {
    height: 40px;
    width: 110px;
}

.container {
    border: 1px solid #fff;
    border-radius: 5px;
}

.dubleRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnsSave {
    height: 30px;
    width: 150px;
}

.input {
    width: 100%;
}

.image {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 190px;
}