.btnsDelete {
    height: 25px;
    width: 51px;
    left: 6px;
    top: 5px;
    margin: 5px;
}

.btnsClose {
    height: 25px;
    width: 51px;
    left: 6px;
    top: 5px;
    margin: 5px;
}

.box {
    display: flex;
    flex-flow: column nowrap;
}